span Posted on 
  != post.date.toDateString()
.tags
  .icon.icon-tags
  ul
    //- List tags with links in a comma separated list (no comma after last tag)
    each tag, index in post.tags
      li
        a(href='tags/'+tag)= tag
        if(index < post.tags.length-1)
          ,