/**
* Main styles
**/

/* ===================
    VARIABLES
    =================== */

//Breakpoints
$smartphone = 480px
$tablet = 770px
$desktop = 1140px

// "Solarized" color palette
$base01 = #586e75
$base02 = #073642
$base03 = #002b36
$base00 = #657b83
$base2 = #eee8d5
$orange = #cb4b16
$cyan = #2aa198
$darkGrey = darken(grey, 60%)
$lightGrey = lighten(grey, 30%)
$lighterGrey = lighten(grey, 50%)
$lightLightGrey = lighten(grey, 98%)
$base2 = #eee8d5
$base3 = #fdf6e3

/* ===================
    IMPORTS
    =================== */

//Extra power! http://visionmedia.github.io/nib/
@import 'nib'

/* ===================
    General: Theme & layout
   =================== */
//Textured background on whole page
body.akselgresvig
    // background-image: url('/images/styling/debut_light.png')
    //background-color: $base3 
    background: $lightLightGrey

/*** some general icon styling ***/
.iconwrapper *
    vertical-align: middle
    display: inline-block

.icon
    font-size: initial
    vertical-align: middle
    padding: 0 0.2em 0.1em 0;
    + * //This selects the item directly following the icon
        padding-right: .4em

.icon-lg
    font-size: 1em
    padding: .4em

.header-container
    box-shadow: none
    z-index: 100

    header 
        min-height:4em
        border-bottom: 2px solid $cyan

        @media only screen and (min-width: 480px)
            min-height: 4.5em
        @media only screen and (min-width: 770px)
            min-height: 5em
        @media only screen and (min-width: 1140px)
            min-height: 5.5em
        .logo-box
            text-align: center
            width: inherit
            height: 100%
            .title
                margin: .8em 0 0 0
                float: none
            .subtitle
                margin: .1em 0 .8em 0
                clear: left

.main-container
    z-index: 1
    
    .main article
        //Dont want sentences longer than max 90 chars
        max-width: 650px 

    .main aside
        @media only screen and (min-width: 769px)
            width: 28%
            padding: 0 0 10px 0
            margin-top: 5em;
        @media only screen and (min-width: 1140px)
            width: 30%
        
/** General containers **/
.container
    max-width: 380px;
    _width: 380px;
    margin: 0 auto;

/** IE < 9 warning box **/
.lt-ie9 #i8-warning
    margin: 20px auto
    width: 80%
    h1
        color: red
    p
        font-family: helvetica

//HR rules
.divider
    border-top: 1px solid $lightGrey

//Blockquotes yo
blockquote
  margin: 2em 0
  padding: 0 2em
  border-left: 1px solid $lightGrey

/* ============= End Theme & Layout ================*/


/* ===================
    Index page & blogpost page
   =================== */
.post-metadata 
    line-height: 1.2em
    margin: 1em 0
    *
        margin: 0 .1em
        display: inline-block 
    ul
        margin: 0
        padding: 0
    li a
        padding: 3px
        background-color: rgba($cyan, 9%)
    li a:hover
        background-color: $base02

    .author
        //I include this on the page for Google authorship purposes
        //but I dont want to show it - there is only one author on this page..
        display: none

.previous.post-item .post-metadata 
    width: 65%

.post-item,
.blogpost
    margin-bottom: 4em
    position: relative

    .post-title
        margin: 1em 0 .25em 0
    .post-subtitle
        margin: 0
    
    .post-body 
        margin-top: 0
        display: block
    .divider 
        clear: both

    .earlier-posts
        margin-bottom: .4em

    footer.related
        ul
            margin: 0
    
.content .latest.post-item,
.content .blogpost
    .post-image
        margin: 2em 2%
        text-align: center
    .post-content 
        margin: 3em 2% 5em 0       
    .post-image img
        max-width: 95%        
        max-height: 500px        
        height: auto
    .post-body, .post-content 
        float: none
        width: initial
    .divider
        margin-top: 0
    iframe
        margin: 5%
        max-width: 95%
        
.mainpage .previous.post-item 
    @media only screen and (min-width: 770px)
        margin-right: -45% //We're making it span on the bigger screens

.previous.post-item     
    .post-title
        width: 65%
    .post-body 
        min-height: 5em;      
        .post-image
            opacity: .6
            float: right 
            width: 30%
            height: 100%
            overflow: hidden
            position: absolute
            bottom: 0.5em
            right: 0
            img //this is to try to center the pic. should probably create thumbs instead..
                position: absolute
                left: -100%

         .post-summary              
            float: left
            width: 65%
            margin-bottom: 1em
            overflow: hidden

        
/* ============= End Index & blogpost page ==============*/

/* ===================
    Sidebar
   =================== */
aside.about
    box-shadow: none
    section
        margin-bottom: 2em
    .bio
        margin: 1em auto
        max-width: 30em
        .quote
            margin: 1em 0
    .profile-pic img
        width: 150px
        border-radius: 88px
        border: 3px solid $lighterGrey
        //box-shadow: 0 0 20px rgba(0, 0, 0, .2);
        margin: 0 auto;
        display: block;

        &:hover
            border-color: $cyan
  
//Inline list of social icons  
.social-links
    text-align: center
    ul
        padding: 0
        li
            display: inline-block
            .icon
                padding-right: .3em
                
    
//An attempt to override styles on the AddThis widget, its a little too attention-grabbing
.akselgresvig 
    #at4-share
        opacity: 0.4

        .at4-share-btn 
            background: rgb(232, 232, 232) !important

    #at4-share:hover
        opacity: 1
        

/* ============= End Sidebar ==============*/

/* ===================
    Comments
   =================== */
.content footer#comments 
    display: block;
    width: 100%;
    float: left;


/* ============= End Comments ==============*/

/* ===================
    Navigation 
   =================== */
header
    nav.nav-collapse 
        li a, li a:visited
            color: $lightGrey
            font-size: 1.2em
            text-transform: uppercase
        li.active a, a:hover, a:active
            color: $orange
            text-decoration: underline
    
    nav.nav-collapse.closed
        a
            background: none
    nav.nav-collapse.opened
        a
            background: $base03;
            margin: 0 0 10px 0
            padding: 15px 0;
            float: none
            width: 100%

/* ============= End Navigation ================*/



/* ===================
    Footer
   =================== */
.footer-container,
footer.wrapper
    padding: 0
    background: $darkGrey
    .info
        display: inline-block
        margin-top: 2em
        .title
            margin-bottom: 0.2em
        .subtitle
            clear: left
            margin:0
        .social-links
            float: left
    .techInfo
        height: 3em
        position: relative
        p
            bottom: 0.5em;
            position: absolute;
            line-height: 1em;


/** Sticky footer **/
*
    margin: 0;

html, body
    height: 100%;

.main-container
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -13em;

.footer-container, 
.push
    height: 15em
    clear: both

/* ============= End Footer ================*/
 