/* Aksel */


/* ===================
    FONTS
    =================== */

/*
* We use Google Web Fonts.
* PT Sans for bodytext, PT Serif for headings, Oswall for logo/title
*/
@import url(http://fonts.googleapis.com/css?family=PT\+Sans:400,700,400italic,700italic\|PT\+Serif:700,400italic\|Oswald:400,700)

/** Usage
font-family: 'PT Sans', sans-serif;
font-family: 'PT Serif', serif;
font-family: 'Oswald', sans-serif;
**/

body 
    font-family: 'PT Sans', sans-serif;
    color: #444

h1, h2, h3, h4, h5, h6
    font-family: 'PT Serif', serif;
    color: #222

.footer-container footer,
.main aside
    color: #444

//Make abbreviations stand out less
abbr
    font-variant: small-caps;
    font-weight: 600

//Indented paragraphs instead of space below them
p
    margin-bottom: 0

p + p 
    text-indent: 2em
    margin-top: 0


/*** Logo/Title ***/

h1.title
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase
    font-size: 48px

    a
        text-decoration: none
        color: black

/*** End Logo/Title ***/

/* ============= End Fonts ================*/


/* ===================
    ALL: Orange Theme
   =================== */

.header-container
    border-bottom: 2px solid grey


.footer-container,
.main aside
    border-top: 20px solid grey;


.header-container,
.footer-container,
.main aside
    background: none //#f16529

/* ============= End Theme ================*/


/* ===================
    Sticky Footer
   =================== */

*
    margin: 0;

html, body
    height: 100%;

.main-container
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -7em;

.footer-container, 
.push
    height: 7em
    clear: both

/* ============= End Sticky Footer ================*/
