/* Aksel */

//Extra power! http://visionmedia.github.io/nib/
@import 'nib'

/* ===================
    SITEWIDE FONTS
    =================== */

/*
* I use Google Web Fonts.
* PT Sans for bodytext, PT Serif for headings, Oswall for logo/title
*/
@import url(http://fonts.googleapis.com/css?family=PT\+Sans:400,700,400italic,700italic\|PT\+Serif:400,700,400italic\|Oswald:300,400,700\|Lato:100,300,400)

/** Usage
font-family: 'PT Sans', sans-serif;
font-family: 'PT Serif', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Lato', sans-serif;
**/

body 
    font-family: 'PT Serif', serif;
    //font-family: 'PT Sans', sans-serif;
    color: #444

h1, h2, h3, h4, h5, h6
    //font-family: 'PT Serif', serif;
    //font-family: 'Lato', sans-serif
    font-family: 'Oswald', sans-serif
    font-weight: 100
    color: #222
    text-transform: capitalize

a
    color: #2aa198
    text-decoration: none

.main footer,
.main aside
    color: #444
    h3
        text-transform: uppercase

.footer-container footer
    h1, h2, h3, h4, h5, h6
        color: #fff
    p, span
        color: #999

//Make abbreviations stand out less
abbr
    font-variant: small-caps;
    font-weight: 700

//Indented paragraphs instead of space below them
p
    margin-bottom: 0

p + p 
    text-indent: 2em
    margin-top: 0


/*** Logo/Title ***/
.title
    font-family: 'Oswald', sans-serif
    font-weight: 400
    a
        color: #586e75
        text-shadow: 1px 2px 2px #002b36;
    text-transform: none
    line-height: 1em
    font-size: 3em
    letter-spacing: -.07em
    @media only screen and (min-width: 480px)
        font-size: 3.3em
    @media only screen and (min-width: 768px)
        font-size: 4em
    @media only screen and (min-width: 1140px)
        font-size: 4.5em

.subtitle
    font-family: 'Oswald', sans-serif
    text-transform: uppercase
    font-style: italic
    color: #cb4b16
    font-size: 1em
    font-weight: 400
    @media only screen and (min-width: 480px)
        font-size: 1em
    @media only screen and (min-width: 768px)
        font-size: 1.4em
    @media only screen and (min-width: 1140px)
        font-size: 1.5em

.footer-container footer .title
    font-size: 1.5em

/*** End Logo/Title ***/

/* ============= End Fonts ================*/


/* ===================
    General: Theme & layout
   =================== */
.header-container
    background-image: url('/images/styling/debut_light@2X.png')
    box-shadow: 0px 1px 4px rgba(0,0,0,.2)
    border-top: 2px solid #2aa198
    border-bottom: 1px solid #2aa198
    z-index: 100

    header 
        position: relative
        .logo-box
            position: absolute
            height: 100%
            width: 20em
            .title , .subtitle
                position: absolute
                margin: 0
            .title
                bottom: -1px
                @media only screen and (min-width: 1140px)
                    bottom: -3px
            .subtitle
                bottom: 1.7em
                left: 5.6em
                @media only screen and (min-width: 480px)
                    bottom: 1.8em;
                    left: 6.2em;
                @media only screen and (min-width: 768px)
                    bottom: 1.85em;
                    left: 5.3em;
                @media only screen and (min-width: 1140px)
                    bottom: 1.92em;
                    left: 5.6em;

footer .title
    float:none

.main-container
    background-image: url('/images/styling/debut_light.png')
    z-index: 1

.footer-container,
.main aside
    //border-top: 2px solid grey;
    box-shadow: none //0px 1px 4px rgba(0,0,0,.2);

.main aside
    //background: #fdf6e3

.main article
    //border-right: 1px solid gray

.footer-container,
footer.wrapper
    background: #002b36

.footer-container
    border-top: 3px solid #2aa198

/* ============= End Theme & Layout ================*/


/* ===================
    Index page
   =================== */
.post-item
    margin: 2em 0
    h2
        margin-bottom: .1em
    p
        margin-top: 0
    .post-metadata 
        text-transform: lowercase
        color: #999
        font-size: .9em
        *
            display: inline-block 
        ul
            margin: 0
            padding: 0
            li a
                //color: #
        
/* ============= End Index Page ================*/


/* ===================
    Navigation
   =================== */
header
    nav.nav-collapse 
        li a, li a:visited
            color: #999
            font-size: 1.2em
            text-transform: uppercase
        li.active a, a:hover, a:active
            color: #cb4b16
            text-decoration: underline
    
    nav.nav-collapse.closed
        a
            background: none
    nav.nav-collapse.opened
        a
            background: #002b36;
            margin: 0 0 10px 0
            padding: 15px 0;
            float: none
            width: 100%

/* ============= End Navigation ================*/



/* ===================
    Footer
   =================== */

/** Sticky footer **/
*
    margin: 0;

html, body
    height: 100%;

.main-container
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -8em;

.footer-container, 
.push
    height: 10em
    clear: both

.footer-container footer
    text-align: center
/* ============= End Footer ================*/
 