---
layout: skeleton
---

.header-container
  header.wrapper.clearfix
    
    //- Becomes menu on mobile devices, see responsive-nav.com
    //- Ignoring nav for now (we only have one page)
      nav.nav-collapse: ul
        li.active: a(href='/') TECH
        li: a(href='/') MUSIC
        li: a(href='/') PHOTO

    .logo-box
      h1.title
        a(href='/') aksel gresvig
      h4.subtitle Techblog

.main-container
  .main.wrapper.clearfix
    section.content!= content

    //for sticky footer
    .push

.footer-container
  footer.wrapper
    h2.title
      a(href='/') aksel gresvig
    p Created with passion in Norway & Spain
    a(href='https://www.twitter.com/agresvig', target='blank') @AGresvig



