---
title: Tags
layout: main
isPage: true
---
article.tagindex
  h1 Posts tagged with 
    != '\"' + document.tag + '\"'
  hr

  - var posts = getCollection('posts').findAll({tags: {$in: document.tag}}).toJSON()

  //- List out formatted sections for 5 latest posts, where first will be shown in full
  each post in posts
    .previous.post-item
      h2.post-title
        a(href=post.url)= post.title
      .post-metadata.subtle-text
        include ../includes/post-metadata
    
      .post-body
        .post-image
          img(src='/images/posts/'+post.image, alt='Post image')
         p.post-content= post.summary
      hr.divider

include ../includes/about_aside